@model IEnumerable<BehaveTherapy.Models.AdminIndexViewModel>

@{
    ViewBag.Title = "Admin - Index";

    //Layout = null;

}

<div class="main-content">
    <div class="container">

        <div class="page-content">

            <!-- Heading -->
            <div class="single-head">
                <!-- Heading -->
                <h2 class="pull-left"><i class="fa fa-desktop blue"></i> Admin User Role Index</h2>
                <!-- Bread crumbs -->
                <div class="breads pull-right">
                    @*<strong>Nav</strong> : <a href="#">Home</a> / <a href="#">Sign</a> / Home*@
                </div>
                <div class="clearfix"></div>
            </div>
            <h3>
                <a href="~/Account/Register">Register New User</a>
            </h3>

            <table id="mytable" class="table">
                <thead>
                    <tr>
                        <th>
                            User Name
                        </th>

                        <th>
                            Role
                        </th>
                    </tr>

                </thead>


                <tbody>
                    @foreach (var mod in Model)
                    {
                        <tr>
                            <td>
                                <p>@mod.User.FullName | @Html.ActionLink("Edit Roles", "EditUser", new { id = mod.User.Id })</p>
                            </td>

                            <td>
                                @foreach (var role in mod.Roles)
                                {
                                    @role
                                }
                        </tr>

                    }

                </tbody>
            </table>


            <script>
                $('#mytable').DataTable();
            </script>





        </div>
    </div>
</div>


@*
        tHIS WAS CAUSING MY LAYOUT SHEET NOT TO RENDER THE NAVBAR, COUPLED WITH NOT HAVING 	@RenderBody() in Layout sheet!!!!

        @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@

